go 1.19

use (
	./2AddTwoNumbers
	./4medianOfTwoSortedArrays
	./7reverse-integer
	./13roman-to-integer
	./14longest-common-prefix
	./20ValidParentheses
	./2AddTwoNumbers
	./380InsertDeleteGetRandom
	./23MegeKSortedLists
	./3LongestSubstringWithoutRepeatingCharacters
	./4medianOfTwoSortedArrays
	./7reverse-integer
	./8stringToInteger
	./4medianOfTwoSortedArrays

)
